.copyaiReviews,
.copyaiVsJasperai,
.product {
  position: absolute;
  top: 3px;
  left: 0;
  line-height: 21.6px;
  display: flex;
  align-items: center;
  width: 53.4px;
  height: 15px;
}
.copyaiReviews,
.copyaiVsJasperai {
  top: 44.8px;
  line-height: 28.8px;
  width: 145.4px;
  height: 20px;
}
.copyaiVsJasperai {
  top: 85.6px;
  width: 175.6px;
}
.copyaiApi {
  top: 126.4px;
  font-size: 19px;
  width: 103.5px;
}
.alternatives,
.copyaiApi,
.templates,
.useFreeAi,
.writeIn25 {
  position: absolute;
  left: 0;
  line-height: 28.8px;
  display: flex;
  align-items: center;
  height: 20px;
}
.alternatives {
  top: 167.2px;
  font-size: 19px;
  width: 107.9px;
}
.templates,
.useFreeAi,
.writeIn25 {
  top: 208px;
  width: 92.4px;
}
.useFreeAi,
.writeIn25 {
  top: 248.8px;
  width: 211.4px;
}
.useFreeAi {
  top: 289.6px;
  width: 154.3px;
}
.company,
.frame2,
.frame3 {
  position: absolute;
  left: 0;
  width: 237.5px;
}
.frame3 {
  top: 51.6px;
  height: 314.4px;
  font-size: 18px;
  color: #160647;
}
.company,
.frame2 {
  top: 0;
  height: 366px;
}
.company {
  top: 3px;
  line-height: 21.6px;
  display: flex;
  align-items: center;
  width: 65.6px;
  height: 15px;
}
.blog {
  top: 4px;
  width: 40.3px;
}
.affiliateProgram,
.blog,
.careers,
.community,
.creatorProgram,
.linkedin,
.press,
.twitter {
  position: absolute;
  left: 0;
  line-height: 28.8px;
  display: flex;
  align-items: center;
  height: 20px;
}
.press {
  top: 44.8px;
  font-size: 18px;
  width: 48px;
}
.affiliateProgram,
.careers,
.community,
.creatorProgram,
.linkedin,
.twitter {
  top: 85.6px;
  width: 70.5px;
}
.affiliateProgram,
.community,
.creatorProgram,
.linkedin,
.twitter {
  top: 126.4px;
  width: 105.6px;
}
.affiliateProgram,
.creatorProgram,
.linkedin,
.twitter {
  top: 167.2px;
  width: 151px;
}
.affiliateProgram,
.linkedin,
.twitter {
  top: 208px;
  width: 63.7px;
}
.affiliateProgram,
.linkedin {
  top: 248.8px;
  width: 76.9px;
}
.affiliateProgram {
  top: 289.6px;
  width: 152.8px;
}
.frame4,
.frame5 {
  position: absolute;
  width: 237.5px;
}
.frame5 {
  top: 51.6px;
  left: 0;
  height: 314.4px;
  font-size: 19px;
  color: #160647;
}
.frame4 {
  top: 0;
  left: 287.5px;
  height: 366px;
}
.contactUs,
.support,
.weeklyDemos {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.support {
  top: 3px;
  line-height: 21.6px;
  width: 54.8px;
  height: 15px;
}
.contactUs,
.weeklyDemos {
  line-height: 28.8px;
  height: 20px;
}
.weeklyDemos {
  top: 4px;
  font-size: 19px;
  width: 135.1px;
}
.contactUs {
  top: 44.8px;
  width: 100.2px;
}
.reportABug {
  top: 85.6px;
  width: 116.1px;
}
.reportABug,
.reportAnOutage,
.requestANew {
  position: absolute;
  left: 0;
  line-height: 28.8px;
  display: flex;
  align-items: center;
  height: 20px;
}
.reportAnOutage {
  top: 126.4px;
  font-size: 19px;
  width: 160.2px;
}
.requestANew {
  top: 167.2px;
  width: 208.2px;
}
.frame6,
.frame7 {
  position: absolute;
  width: 237.5px;
}
.frame7 {
  top: 51.6px;
  left: 0;
  height: 192px;
  font-size: 18px;
  color: #160647;
}
.frame6 {
  top: 16.3px;
  left: 575px;
  height: 366px;
}
.forBlogWriters,
.forEmailMarketers,
.forSocialMedia,
.useCases {
  position: absolute;
  top: 3px;
  left: 0;
  line-height: 21.6px;
  display: flex;
  align-items: center;
  width: 69.2px;
  height: 15px;
}
.forBlogWriters,
.forEmailMarketers,
.forSocialMedia {
  top: 4px;
  line-height: 28.8px;
  width: 145.5px;
  height: 20px;
}
.forEmailMarketers,
.forSocialMedia {
  top: 44.8px;
  width: 150.6px;
  height: 48.8px;
}
.forEmailMarketers {
  top: 114.4px;
  width: 180px;
  height: 20px;
}
.frame9 {
  position: absolute;
  top: 51.6px;
  left: 0;
  width: 237.5px;
  height: 139.2px;
  font-size: 19px;
  color: #160647;
}
.frame1,
.frame8 {
  position: absolute;
  height: 366px;
}
.frame8 {
  top: 0;
  left: 862.5px;
  width: 237.5px;
  font-size: 13px;
}
.frame1 {
  width: calc(100% - 100px);
  top: 50px;
  right: 50px;
  left: 50px;
}
.frameIcon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.autoLayoutHorizontal1 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame11 {
  position: relative;
  border-radius: 100px;
  background: linear-gradient(transparent, transparent), #f8fcfb;
  border: 2px solid #def7f0;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.autoLayoutHorizontal {
  position: absolute;
  top: calc(50% - 12px);
  left: 970px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.copyaiInc {
  position: absolute;
  top: calc(50% - 9.75px);
  right: 302.1px;
  line-height: 19.5px;
  color: #76838f;
}
.privacyNotice,
.status,
.termsOfService {
  position: absolute;
  top: 5.2px;
  left: 278.5px;
  line-height: 19.5px;
}
.status,
.termsOfService {
  left: 383.3px;
}
.status {
  left: 500.2px;
}
.screenshotFrom2023122415 {
  position: absolute;
  top: 0.3px;
  left: -34px;
  width: 151px;
  height: 27px;
  object-fit: cover;
}
.frame14 {
  position: absolute;
  top: calc(50% - 6.9px);
  left: 0;
  width: 557.1px;
  height: 29.9px;
}
.frame10 {
  position: absolute;
  width: calc(100% - 100px);
  top: 466px;
  right: 50px;
  left: 50px;
  border-top: 1px solid #f9feff;
  box-sizing: border-box;
  height: 56px;
  font-size: 12px;
  color: #47beb9;
}
.frame {
  border-radius: 36px;
  background-color: #f8fcfb;
  width: 1200px;
  height: 552px;
  text-align: left;
  font-size: 14px;
  color: #76838f;
  font-family: Inter;
}
