.iconmenu,
.screenshotFrom2023122414 {
  position: relative;
  width: 211px;
  height: 40px;
  object-fit: cover;
}
.iconmenu {
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButton,
.iconButtonWrapper {
  display: flex;
  box-sizing: border-box;
}
.iconButton {
  border-radius: 1000px;
  background-color: #4f46e5;
  width: 40px;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.iconButtonWrapper {
  width: 147px;
  height: 44px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 16px;
}
.logoIcon {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.goals,
.iconhashtag {
  position: relative;
  flex-shrink: 0;
  
}
.iconhashtag {
  width: 32px;
  height: 32px;
  overflow: hidden;
  object-fit: cover;
}
.goals {
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 42px;
  
}
.iconText,
.sideNavigationItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconText {
  flex: 1;
  flex-shrink: 0;
  gap: 14px;
}
.sideNavigationItem {
  align-self: stretch;
  border-radius: 4px;
  background-color: #191a38;
  padding: 20px;
}
.heroiconsOutlinerectangleSt {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.tasks {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.iconText1 {
  width: 179px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.sideNavigationItem1 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #080325;
  padding: 20px;
  gap: 17px;
  color: #cbcfd5;
}
.iconText2,
.sideNavigationItem1,
.sideNavigationItem2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconText2 {
  flex: 1;
  flex-shrink: 0;
}
.sideNavigationItem2 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #080325;
  overflow: hidden;
  padding: 20px;
  gap: 17px;
  color: #cbcfd5;
}
.badges {
  margin: 0;
}
.div {
  position: absolute;
  top: 4px;
  left: 6px;
  line-height: 16px;
  font-weight: 600;
}
.notificationSign {
  position: relative;
  border-radius: 1000px;
  background-color: #d1493d;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: 10px;
}
.sideNavigationItem3 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #080325;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  gap: 16px;
}
.header,
.mainNavigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mainNavigation {
  width: 264px;
}
.header {
  flex: 1;
}
.chat1 {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.sideNavigationItem4 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #080325;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}
.line {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #344155;
}
.divider {
  align-self: stretch;
  position: relative;
  height: 1px;
}
.avatarIcon {
  position: relative;
  border-radius: 1000px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.adrianTra {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
}
.footer,
.sideNavbar,
.sideNavigationItem5 {
  background-color: #080325;
  display: flex;
  justify-content: flex-start;
}
.sideNavigationItem5 {
  align-self: stretch;
  border-radius: 4px;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 17px;
  font-size: 16px;
  color: #fff;
}
.footer,
.sideNavbar {
  flex-direction: column;
  align-items: flex-start;
}
.footer {
  align-self: stretch;
  font-size: 14px;
  color: #cbcfd5;
}
.sideNavbar {
  width: 300px;
  height: 900px;
  padding: 0 18px 32px;
  box-sizing: border-box;
  gap: 48px;
  text-align: left;
  font-size: 15px;
  color: #fff;
  font-family: Inter;
}
