.screenshotFrom2023122414 {
  position: relative;
  width: 211px;
  height: 40px;
  object-fit: cover;
}
.iconButtonWrapper {
  width: 78px;
  height: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 16px;
  box-sizing: border-box;
}
.logoIcon {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.heroiconsOutlinerocketLaunc {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.goals {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter;
  color: #cbcfd5;
  text-align: left;
}
.iconText {
  width: 179px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.sideNavigationItem,
.sideNavigationItem1 {
  cursor: pointer;
  border: 0;
  padding: 20px;
  background-color: #080325;
  border-radius: 4px;
  gap: 17px;
}
.sideNavigationItem {
  width: 264px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.sideNavigationItem:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #080325;
}
.sideNavigationItem1 {
  align-self: stretch;
}
.sideNavigationItem1:hover,
.sideNavigationItem2:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.iconText2,
.sideNavigationItem1,
.sideNavigationItem2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconText2 {
  flex: 1;
  flex-shrink: 0;
}
.sideNavigationItem2 {
  cursor: pointer;
  border: 0;
  padding: 20px;
  background-color: #080325;
  align-self: stretch;
  border-radius: 4px;
  overflow: hidden;
  gap: 17px;
}
.iconhashtag {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.badges {
  margin: 0;
}
.chat {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.iconText3 {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.div {
  position: absolute;
  top: 4px;
  left: 6px;
  font-size: 10px;
  line-height: 16px;
  font-weight: 600;
  font-family: Inter;
  color: #fff;
  text-align: center;
}
.notificationSign {
  position: relative;
  border-radius: 1000px;
  background-color: #d1493d;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.sideNavigationItem3 {
  cursor: pointer;
  border: 0;
  padding: 20px;
  background-color: transparent;
  align-self: stretch;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.sideNavigationItem3:hover {
  background-color: rgba(8, 3, 37, 0.1);
}
.header,
.mainNavigation {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header {
  flex: 1;
  width: 292px;
}
.chat1 {
  flex: 1;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter;
  color: #cbcfd5;
  text-align: left;
}
.sideNavigationItem4 {
  cursor: pointer;
  border: 0;
  padding: 20px;
  background-color: #080325;
  align-self: stretch;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.sideNavigationItem4:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.line {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #344155;
}
.divider {
  align-self: stretch;
  position: relative;
  height: 1px;
}
.avatarIcon {
  position: relative;
  border-radius: 1000px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.adrianTra {
  flex: 1;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.footer,
.sideNavbar {
  background-color: #080325;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
}
.sideNavbar {
  width: 300px;
  height: 900px;
  padding: 0 18px 32px;
  box-sizing: border-box;
  gap: 48px;
}
